form.signin.custom-form.pure-form.pure-form-aligned
    p.custom-form__title Sign In
    fieldset
        .signin__user-mail.custom-form__fieldrow
        .signin__user-password.custom-form__fieldrow
        .pure-controls
            button.signin__send.pure-button.pure-button-primary.custom-form__btn Submit
    a.formRedirect-button(href='#signup') Sign Up