@import "../libs/purecss.min.css";

.custom-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;

  .custom-form__fieldrow>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      text-align: left;
      margin: 0;
      margin-bottom: 10px;
      font-weight: bold;
      width: 100%;
    }

    input {
      width: 100%;
    }

    span {
      color: red;
      text-align: right;
      width: 100%;
      font-size: .7em;
      text-transform: lowercase;
      margin-top: 3px;
    }
  }
}

.pure-form-aligned .pure-controls {
  margin: 0 auto;
}

.custom-form__title {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 0 0 20px 0;
}

.custom-form__btn {
  min-width: 200px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

.formRedirect-button {
  text-align: center;
  margin-top: 20px;
  padding: .5em 1em;
  color: #0078e7;
  text-decoration: none;
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #0078e7;
  background: transparent;
  transition: .3s;

  &:hover {
    color: #fff;
    background: #0078e7;
  }
}