@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700");


.card {
  display: flex;

  padding: 8px 12px;
  border-top: 1px solid darken(#FAF9F8, 5%);
  color: #1c1c1c;
  transition: background-color .4s ease;
  &:hover {
    cursor: pointer;
    background-color: darken(#FAF9F8, 5%);
  }
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 8px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #64B5F6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 35px;
    color: #fff;
    @media (max-width: 750px) {
      display: none;
    }
  }
  &__content {
    flex: 1;
    min-width: 0;
    h5 {
      margin: 0 0 4px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      margin: 0;
      line-height: 1.4;
    }

  }
}
