form.verify.custom-form.pure-form.pure-form-aligned
    p.custom-form__title Verify
    fieldset
        .verify__user-sms.custom-form__fieldrow
        .pure-controls
            button.verify__send.pure-button.pure-button-primary.custom-form__btn Apply
    a.btn.btn-outline--primary(href='#signup') to sign up
