form.signup.custom-form.pure-form.pure-form-aligned
    p.custom-form__title Sign Up
    fieldset
        .signup__user-mail.custom-form__fieldrow
        .signup__user-password.custom-form__fieldrow
        .signup__user-password-repeat.custom-form__fieldrow
        .pure-controls
            button.signup__send.pure-button.pure-button-primary.custom-form__btn Submit
    a.btn.btn-outline--primary(href='#signin') Sign In
    //- a.btn.btn-outline--primary(href='#verify') to verify