.inRow {
  position: relative;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  transition: all ease 0.5s;
  overflow: hidden;
    &__wrap {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
}
.inLine {
  position: relative;
  width: 900px;
  height: 300px;
  transition: all ease 0.5s;
  overflow: hidden;
    &__wrap {
      position: relative;
      display: flex;
      left: 0;
      transition: all ease 0.5s;
    }
}

.galarey {
  display: flex;
  justify-content: center;
}

.btn__ {
  &left {
    border: 1px solid #c5c2c2;
    background-color: transparent;
  }
  &right {
    border: 1px solid #c5c2c2;
    background-color: transparent;
  }
}

.inRow__btn {
  display: flex;
  justify-content: center;
  & button {
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid #c5c2c2;
    background-color: transparent;
  }
}
