div.settings-form
    div.row
        div.settings-form__left-col.col.col--2
            div.settings-form__settings-menu
            div.settings-form__home-link
                a(href = "../messages") К почте
        div.settings-form__form.col.col--10
