.form {
  input.textbox__input{
    color: #0078e7;

  }
  input.errorPhone {
    border:  1px solid #b94a48;
    background-color: rgba(185, 74,72, .5);
  }
  span.errorPhone {
    color: #b94a48;
  }
  .form-message-inline {
    padding-left: 10px;
  }
}