form.security
    fieldset
        .security__old-password
        .security__new-password
        .security__new-password-repeat
        p.required-description * - Обязательное поле
        .security__submit