<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Views: Sidebar</title>
    <script src="../../../dist/messages.js"></script>
    <link href="../../../libs/bemskel.min.css" rel="stylesheet"/>
</head>

<body>
<div class="js-sidebar"></div>
<script>
  (function() {
      'use strict';

      const listMessages = [
          {
              h5: 'Conference Team',
              text: 'Lorem Ipsum is simply dummy text of the printing Lorem Ipsum',
              url: 'https://js.cx/carousel/1.png'
          },
          {
              h5: 'Slack',
              text: 'Lorem Ipsum is simply dummy text of the printing Lorem Ipsum',
              url: ''
          },
          {
              h5: 'Ivan Petrov',
              text: 'Lorem Ipsum is simply dummy text of the printing Lorem Ipsum',
              url: 'https://js.cx/clipart/winnie-mult.jpg'
          }];

      const sidebar = new Sidebar({}, listMessages);

      sidebar.render(document.querySelector('.js-sidebar'));
  })();
</script>
</body>

</html>
