.textbox {
  &__input {
    &_error {
      background-color: #ffa3a0 !important;
    }
    &_required::after{
      content: '*';
      color: red;
      margin-left: .5rem;  
    }
  }
  label {
    display: inline-block !important;
    margin-right: .5rem;
    margin-top: .4rem;
  }
}
